 /*----module------*/
 #module {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 10;
  }
  
  .close {
    display: none;
    position: absolute;
    top: 3rem;
    right: 3rem;
    font-size: 30px;
    cursor: pointer;
  }
  
  #about-planet,
  #more-info {
    border-bottom: 2px solid gray;
    padding-top: 15px;
  }
  
  #about-planet #planet-name {
    font-family: "Hind", sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
  }
  
  #about-planet #latin-name {
    font-family: "PT Serif", serif;
    color: rgb(206, 175, 1);
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
    padding-bottom: 15px;
  }
  
  #about-planet #description {
    font-size: 15px;
    padding-bottom: 15px;
  }
  
  #moons-info {
    margin-top: 15px;
  }
  
  #more-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #more-info > p {
    flex: 0 0 calc(50% - 10px);
    margin-bottom: 20px;
  }

  #about-planet #description, #circumference, #distance, #max-temp, #min-temp, #moons{
    font-size: 13px;
    letter-spacing: 1px;
    color: rgb(218, 218, 218);
    font-family: 'Barlow Condensed', sans-serif;
    line-height: 25px;
  }


  /*----change background when module is open----*/
  #sun.active{
    background-color: rgb(71, 141, 240);
    box-shadow:
      3px 3px 3px 35px rgb(36, 41, 100),
      6px 6px 6px 70px rgb(29, 29, 86); 
  }

  #heading.active, 
  #subheading.active,
  #mercurius.active,
  #venus.active,
  #earth.active,
  #mars.active,
  #jupiter.active,
  #saturnus.active,
  #uranus.active,
  #neptunus.active,
  .stars{
    display: none;
  }

  .stars.active {
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    display: flex;
    flex-wrap: wrap;
}

.star::after{
    content: "\2605";
    font-size: 10px;
    pointer-events: none;
    z-index: -5;
    padding: 100px;
}